fieldset{
    border: 0;
    border-top: solid 2px #dd7682;
    min-width: 0;
    padding: 12px 0;
}
fieldset legend{
    background: #FFF;
    border: 0;
    color: #dd7682;
    font-size: 20px;
    font-weight: 300;
    padding-right: 6px;
    width: auto;
}
.logo img{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100px;
}
.logo a{
    border-bottom: 0;
}
button{
    font-size: inherit;
}
/* TABLE DIV */
.div-thead tr th,
.div-thead{
    background-color: #615295;
    color: #fff !important;
    font-family: "Open Sans","Segoe UI","Helvetica",sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.div-thead tr th,
.div-thead div{
    padding: 1em 0 1em 1em !important;
}
.div-tbody{
    padding-bottom: 15px;
    padding-top: 15px;
}
.div-tbody div{
    padding-bottom: .2em;
}
.div-tbody h3,
.div-tbody h4{
    margin: 0;
    padding: 0;
}
.div-tbody:hover {
    background-color: #eee;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}
/* ALERTE */
.alert{
    border-left: 5px solid;
    color: #fff;
    font-weight: 600;
    margin-bottom: 1em;
    padding: 1em;
}
.alert > p,
.alert > ul{
    margin: 0;
}
.alert > p + p{
    margin-top: 5px;
}
.alert-info{
    background-color: #6573a8;
    border-color: #4e5a7f;
}
.alert-success{
    background-color: #66aa6e;
    border-color: #4c7f50;
}
.alert-warning{
    background-color: #a88e65;
    border-color: #7f6a4e;
}
.alert-danger{
    background-color: #a56565;
    border-color: #7f4e4e;
}
/* NODE */
.icon-publish,
.icon-notPublish{
    border: 2px solid;
    border-radius: 32px;
    height: 32px;
    width: 32px;
}
.icon-notPublish{
    color: #7f4e4e;
    background-color: #a56565;
}
.icon-publish{
    color: #4c7f50;
    background-color: #66aa6e;
}
.icon-publish span,
.icon-notPublish span{
    display: block;
    font-weight: bold;
    left: 24px;
    position: absolute;
}
.icon-notPublish span{
    color: #7f4e4e;
}
.icon-publish span{
    color: #4c7f50;
}
/* MODULES */
.module-is_required,
.module-is_required_for_module{
    color: #fff;
    padding-left: .3em;
    padding-right: .3em;
}
.module-is_required{
    background-color: #d9534f;
}
.module-is_required_for_module{
    background-color: #009926;
}
.permission-module {
    border-bottom: #20222d 3px solid;
}
.form-group {
    margin-bottom: 15px;
}
.form-required{
    color: #bd6e89;
}
.img-thumbnail{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    height: auto;
    line-height: 1.4;
    max-height: 150px;
    max-width: auto;
    padding: 4px;
}
/* TABLE */
.table-responsive{
    min-height: 0.01%;
    overflow-x: auto;
}
@media screen and (max-width: 767px){
    .table-responsive {
        border: 1px solid #ddd;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        width: 100%;
    }
    .table-responsive > .table{
        margin-bottom: 0;
    }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td{
        white-space: nowrap;
    }
}

.article_date_time{
    margin-bottom: 1.5em;
}
.article_img img{
    display: block;
    margin: 0px auto;
    margin-bottom: 1.5em;
}
